.header_container{
    position: relative;
}
.header{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    /* height: 60; */
    background: rgba(0, 0, 0, 0.792);
    z-index: 5;
    
}
.header_navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    
}
.lang{
    display: flex;
    /* flex-direction: column; */
    height: 40px;
    align-items: center;
    gap: 1.5rem;
}
.name{
    position: fixed;
    font-family: Impact, fantasy;
    top: 10px;
    left: 15px;
    color:rgb(229, 255, 0);
    z-index: 6;
    font-size: 1.5rem;
    cursor: pointer;
}
.name:hover{
    color: rgba(255, 255, 255, 0.852);
}
.name800{
    position: fixed;
    font-family: Impact, fantasy;
    top: 10px;
    left: 15px;
    color:rgb(229, 255, 0);
    z-index: 6;
    font-size: 1.5rem;
}
.nameAG{
    display: flex;
  justify-content: start;
  align-items: center;
  height: 40px;
}

.langEN{
    display: flex;
    justify-content: center;
    visibility: hidden;
    padding: 5px;
    border: 1px solid;
    border-radius: 10px;
    
    width: 30px;
}
.langRU{
    display: flex;
    justify-content: center;
    visibility: hidden;
    padding: 5px;
    border: 1px solid;
    border-radius: 10px;
    
    width: 30px;
}

@media (max-width:800px) {
    
    .header_navigation{
        display: none;
    }
    .header{
        z-index: 2;
        height: 60px;
        
        background: none;
    }
    .name{
        color: rgba(255, 255, 255, 0.852);
    }
    .nameAG{
        display: none;
    }
    .langEN{
        visibility: visible;
    }
    .langRU{
        visibility: visible;
    }
    .langRU:hover{
        color: yellow;
    }
    .langEN:hover{
        color: yellow;
    }
    
    
}